.main-header{
  font-family:consolas, arial;
  font-weight:bold;
  color:#111;
  text-align:center;
}

.sub-header{
  font-family:consolas, arial;
  text-align:center;
  color:#333;
}

.license-div{
  border:3px groove #009;
  background-color:#DDF;
}