.main-header{
  color:#111;
  font-family:consolas, arial;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}

body{
  background-color:#FFF;
}

.sub-header{
  color:#333;
  font-family:consolas, arial;
  text-align:left;
  font-size:18px;
  font-weight:bold;
}

.help-topics{
  list-style-type:disc;
  font-size:18px;
}

.text{
  font-size:16px;
  font-family:consolas, arial;
  color:#111;
  font-weight:normal;
}