#main-div{
  border:4px solid #333;
  background-color:#EEE;
}

#body{
  background-color:#DDD;
}

#name-msg{
  font-family:arial;
  font-size:20px;
  text-align:center;
  margin-top:auto;
  margin-bottom:auto;
}

#input-div{
  margin-left:auto;
  margin-right:auto;
  width:360px;
}

#input{
  width:250px;
  height:40px;
  font-size:16px;
  font-family:arial;
}
#enter{
  width:100px;
  height:50px;
  font-size:16px;
  font-family:arial;
}