<!DOCTYPE html>
<html ng-app="app" ng-csp>
  <head id="head">
      <title>Game</title>
      <script type="text/javascript" src="js/angularjs/angular-loader.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/angularjs/angular-csp.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.min.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.structure.min.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.theme.min.css">
      <script type="text/javascript" src="js/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="js/jquery/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
      <script type="text/javascript" src="js/book.js"></script>
      <script type="text/javascript" src="js/chrome.js"></script>
      <script type="text/javascript" src="js/reset.js"></script>
      <script type="text/javascript" src="js/chrome2.js"></script>
      <script type="text/javascript" src="js/probar.js"></script>
      <script type="text/javascript" src="js/error.js"></script>
      <script type="text/javascript" src="js/utils.js"></script>
      <script type="text/javascript" src="js/iframe.js"></script>
      <script type="text/javascript" src="packages/chrome/bootstrap.js" defer></script>
      <script type="application/dart" src="index.dart" defer></script>
  </head>
  <body id="body" class="body">
      
      <!--
      <div id="main-div" class="main-div">
          <div ng-controller="chromeLoad as load" id="money-div" class="money">
            
            <div class="save-div" id="math-stats" ng-init="load.math()">0</div>
            <div class="stats-text">NonFiction</div>
            <div class="save-div" id="nonfiction-stats" ng-init="load.nonfiction()">0</div>
            <div class="stats-text" id="parenting-sn">???</div>
            <div class="save-div" id="parenting-stats" ng-init="load.parenting()">0</div>
            <div class="stats-text" id="religious-sn">???</div>
            <div class="save-div" id="religious-stats" ng-init="load.religious()">0</div>
            <div class="stats-text">Report</div>
            <div class="save-div" id="report-stats" ng-init="load.report()">0</div>
            <div class="stats-text" id="romance-sn">???</div>
            <div class="save-div" id="romance-stats" ng-init="load.romance()">0</div>
            <div class="stats-text" id="satire-sn">???</div>
            <div class="save-div" id="satire-stats" ng-init="load.satire()">0</div>
            <div class="stats-text">Scifi</div>
            <div class="save-div" id="scifi-stats" ng-init="load.scifi()">0</div>
            <div class="stats-text">Survival</div>
            <div class="save-div" id="survival-stats" ng-init="load.survival()">0</div>
            <div class="stats-text" id="trashy-sn">???</div>
            <div class="save-div" id="trashy-stats" ng-init="load.trashy()">0</div>
          </div>
          <div ng-controller="bookbuttons as book" class="book-col">
            <button ng-click="book.onClickAdventure()" class="book-button" type="button" id="adventure">Adventure</button>
            <button ng-click="book.onClickAction()" class="book-button-locked" type="button" id="action" value="0" ng-init="book.actionLock()">Locked 6000$</button>
            <button ng-click="book.onClickChildrens()" class="book-button" type="button" id="childrens">Children's</button>
            <button ng-click="book.onClickComic()" class="book-button-locked" type="button" id="comic" value="0" ng-init="book.comicLock()">Locked 35000$</button>
            <button ng-click="book.onClickDrama()" class="book-button" type="button" id="drama">Drama</button>
            <button ng-click="book.onClickEducational()" class="book-button-locked" type="button" id="educational" value="0" ng-init="book.educationalLock()">Locked 40000$</button>
            <button ng-click="book.onClickEnvironmental()" class="book-button-locked" type="button" id="environmental" value="0" ng-init="book.environmentalLock()">Locked 12000$</button>
            <button ng-click="book.onClickFantasy()" class="book-button-locked" type="button" id="fantasy" value="0" ng-init="book.fantasyLock()">Locked ???</button>
            <button ng-click="book.onClickFashion()" class="book-button-locked" type="button" id="fashion" value="0" ng-init="book.fashionLock()">Locked 45000$</button>
            <button ng-click="book.onClickFiction()" class="book-button" type="button" id="fiction">Fiction</button>
            <button ng-click="book.onClickGossip()" class="book-button-locked" type="button" id="gossip" value="0" ng-init="book.gossipLock()">Locked 50000$</button>
            <button ng-click="book.onClickGothic()" class="book-button" type="button" id="gothic">Gothic</button>
            <button ng-click="book.onClickHistory()" class="book-button-locked" type="button" id="history" value="0" ng-init="book.historyLock()">Locked 1500$</button>
            <button ng-click="book.onClickHumor()" class="book-button" type="button" id="humor">Humor</button>
            <button ng-click="book.onClickMath()" class="book-button" type="button" id="math">Math</button>
            <button ng-click="book.onClickNonFiction()" class="book-button" type="button" id="nonfiction">NonFiction</button>
            <button ng-click="book.onClickParenting()" class="book-button-locked" type="button" id="parenting" value="0" ng-init="book.parentingLock()">Locked 15000$</button>
            <button ng-click="book.onClickReligious()" class="book-button-locked" type="button" id="religious" value="0" ng-init="book.religiousLock()">Locked 20000$</button>
            <button ng-click="book.onClickReport()" class="book-button" type="button" id="report">Report</button>
            <button ng-click="book.onClickRomance()" class="book-button-locked" type="button" id="romance" value="0" ng-init="book.romanceLock()">Locked 3000$</button>
            <button ng-click="book.onClickSatire()" class="book-button-locked" type="button" id="satire" value="0" ng-init="book.satireLock()">Locked ???</button>
            <button ng-click="book.onClickScifi()" class="book-button" type="button" id="scifi">Scifi</button>
            <button ng-click="book.onClickSurvival()" class="book-button" type="button" id="survival">Survival</button>
            <button ng-click="book.onClickTrashy()" class="book-button-locked" type="button" id="trashy" value="0" ng-init="book.trashyLock()">Locked 1000$</button>
          </div>
          <div class="pic-div">
            <div class="probar" id="progressbar"></div>
            <iframe id="iframe" class="iframe" src="about:blank"></iframe>
          </div>
      </div>
      -->
  </body>
</html>
